psycopg2==2.8.5
aiohttp==3.6.2
amqp==2.5.2
asgiref==3.2.7
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
beautifulsoup4==4.9.0
billiard==3.6.3.0
celery==4.4.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cms==0.0.2
colorama==0.4.3
cryptography==2.9
defusedxml==0.7.0rc1
discord==1.0.1
discord.py==1.3.3
dj-database-url==0.5.0
Django==2.2.12
django-admin-sortable2==0.7.6
django-angular==2.3
django-appconf==1.0.4
django-classy-tags==1.0.0
django-cms==3.7.2
django-crispy-forms==1.9.0
django-entangled==0.3
django-filer==1.7.1
django-formtools==2.2
django-fsm==2.7.0
django-fsm-admin==1.2.4
django-ipware==2.1.0
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==2.1.2
django-post-office==3.4.0
django-rest-auth==0.9.5
django-sekizai==1.1.0
django-select2==7.2.3
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-cascade==1.3
djangocms-text-ckeditor==3.9.0
djangorestframework==3.11.0
easy-thumbnails==2.7
Flask==1.1.2
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
html5lib==1.0.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jsonfield==3.1.0
kombu==4.6.8
loguru==0.4.1
MarkupSafe==1.1.1
more-itertools==8.2.0
MouseInfo==0.1.3
multidict==4.7.5
numpy==1.18.3
oauthlib==3.1.0
packaging==20.3
pandas==1.0.3
Pillow==7.1.1
plotly==4.6.0
pluggy==0.13.1
py==1.8.1
PyAutoGUI==0.9.50
pycparser==2.20
pygame==1.9.6
PyGetWindow==0.0.8
PyJWT==1.7.1
PyMsgBox==1.0.7
pyparsing==2.4.7
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
pytest==5.4.1
python-dateutil==2.8.1
python-social-auth==0.2.12
python3-openid==3.1.0
PyTweening==1.0.3
pytz==2019.3
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
schedule==0.6.0
selenium==3.141.0
six==1.14.0
social-auth-core==3.3.3
soupsieve==2.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
Unidecode==1.1.1
urllib3==1.25.9
vine==1.3.0
wcwidth==0.1.9
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
whitenoise==5.1.0
win32-setctime==1.0.1
yarl==1.4.2
